{{extend 'layout.html'}}
{{if perfil_proprio:}}
    <h1>Olá, {{=aluno.short_name}}!</h1>
    <ul>
        {{if evals_stats['len'] > 0:}}
            <li><h3>Você já postou {{=evals_stats['len']}} {{=('avaliação' if evals_stats['len'] == 1 else 'avaliações')}}, cujo conceito médio é {{=evals_stats['grade_avg']}}.</h3></li>
            <img src="http://chart.apis.google.com/chart?cht=bvs&chs=300x150&chds=0,{{=evals_stats['max_len_grade']}}&chco=A6EFA5|D2EFA5|EFEFA5|EFC4A5|EFA5A5&chd=t:{{=evals_stats['A']}},{{=evals_stats['B']}},{{=evals_stats['C']}},{{=evals_stats['D']}},{{=evals_stats['FF']}}&chl=A|B|C|D|FF"><br><br>
            <li><h3>O saldo de qualidade de suas avaliações é {{=evals_stats['karma_avg']}} ({{=evals_stats['karma_len']}} {{=('qualificação' if evals_stats['karma_len'] == 1 else 'qualificações')}}).</h3></li></br>
            {{if evals_stats['karma_len'] > 0:}}
                <img src="http://chart.apis.google.com/chart?chs=300x125&cht=p3&chco=219A21|FF0000&chd=t:{{=evals_stats['karma_up']}},{{=evals_stats['karma_down']}}&chl={{=('Positivas' if evals_stats['karma_up'] > 0 else '')}}|{{=('Negativas' if evals_stats['karma_down'] > 0 else '')}}"><br><br>
            {{pass}}
            <li><h3>Últimas avaliações:</h3></li><br>            
            <div class="latest">
                {{include "eval/list.html"}}
            </div>
            {{evals = evals_replyed}}
            <div class="answered">
            {{if len(evals) > 0:}}
                <li><h3>Últimas avaliações respondidas:</h3></li><br>
                    {{include "eval/list.html"}}
                </div>
            {{else:}}
                <li><h3>Você ainda não teve nenhuma avaliação respondida.</h3></li><br>
            {{pass}}
        {{else:}}
            <li><h3>Você ainda não postou nenhuma avaliação.</h3></li>
        {{pass}}
        
        {{evals = evals_favorited}}
        {{if len(evals) > 0:}}
            <li><h3>Avaliações favoritas:</h3></li><br>
            <div id="favorites">
            {{include "eval/list.html"}}
            </div>
        {{else:}}
            <li><h3>Você ainda não favoritou nenhuma avaliação.</h3></li><br>
        {{pass}}
    </ul>
{{else:}}
    <table>
        <tr>
            <h1>{{=aluno.full_name}}</h1>
        </tr>
        <tr>
            {{=aluno.email}}
        </tr>
    </table>       
    <ul>
        {{if evals_stats['len'] > 0:}}
            <li><h3>{{=aluno.short_name}} já postou {{=evals_stats['len']}} {{=('avaliação' if evals_stats['len'] == 1 else 'avaliações')}}, cujo conceito médio é     {{=evals_stats['grade_avg']}}.</h3></li>
            <img src="http://chart.apis.google.com/chart?chs=300x150&cht=bvs&chds=0,{{=evals_stats['max_len_grade']}}&chco=A6EFA5|D2EFA5|EFEFA5|EFC4A5|EFA5A5&chd=t:{{=evals_stats['A']}},{{=evals_stats['B']}},{{=evals_stats['C']}},{{=evals_stats['D']}},{{=evals_stats['FF']}}&chl=A|B|C|D|FF"><br><br>
            <li><h3>O saldo de qualidade das avaliações de {{=aluno.short_name}} é {{=evals_stats['karma_avg']}} ({{=evals_stats['karma_len']}} {{=('qualificação' if evals_stats['karma_len'] == 1 else 'qualificações')}}).</h3></li>
            {{if evals_stats['karma_len'] > 0:}}
                <img src="http://chart.apis.google.com/chart?chs=300x125&cht=p3&chco=219A21|FF0000&chd=t:{{=evals_stats['karma_up']}},{{=evals_stats['karma_down']}}&chl={{=('Positivas' if evals_stats['karma_up'] > 0 else '')}}|{{=('Negativas' if evals_stats['karma_down'] > 0 else '')}}"><br><br>
            {{pass}}
            <li><h3>Últimas avaliações de {{=aluno.short_name}}:</h3></li><br>
            {{include "eval/list.html"}}
        {{else:}}
            <li><h3>{{=aluno.short_name}} ainda não postou nenhuma avaliação.</h3></li>
        {{pass}}
    </ul>
{{pass}}
