{{extend 'layout.html'}}
{{if perfil_proprio:}}
    <h1>Olá, {{=aluno.short_name}}!</h1>
    <ul>
        {{if evals_stats['len'] > 0:}}
            <div style="padding:15px;">
                <table class="infotable">
                    <th colspan=2 class="infoheader">Estatísticas de {{=aluno.short_name}}:</th>
                    <tr>
                        <td style="text-align:center">
                            <b>{{=evals_stats['len']}} avaliações postadas (média {{=evals_stats['grade_avg']}})</b>
                        </td>
                        <td style="text-align:center">
                            <b>{{=evals_stats['karma_len']}} qualificações (saldo {{=evals_stats['karma_avg']}})</b>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://chart.apis.google.com/chart?chs=300x150&cht=bvs&chds=0,{{=evals_stats['max_len_grade']}}&chco=A6EFA5|D2EFA5|EFEFA5|EFC4A5|EFA5A5&chd=t:{{=evals_stats['A']}},{{=evals_stats['B']}},{{=evals_stats['C']}},{{=evals_stats['D']}},{{=evals_stats['FF']}}&chl=A|B|C|D|FF">
                        </td>
                    {{if evals_stats['karma_len'] > 0:}}
                        <td>
                            <img src="http://chart.apis.google.com/chart?chs=300x125&cht=p3&chco=219A21|FF0000&chd=t:{{=evals_stats['karma_up']}},{{=evals_stats['karma_down']}}&chl={{=('Positivas' if evals_stats['karma_up'] > 0 else '')}}|{{=('Negativas' if evals_stats['karma_down'] > 0 else '')}}">
                        </td>
                    {{pass}}
                    </tr>
                </table>
            </div><br/>
            <li><h3>Últimas avaliações enviadas:</h3></li><br>
            <div class="latest">
                {{include "eval/list.html"}}
            </div>
            {{evals = evals_replyed}}
            <div class="answered">
            {{if len(evals) > 0:}}
                <li><h3>Últimas avaliações respondidas:</h3></li><br>
                    {{include "eval/list.html"}}
                </div>
            {{else:}}
                <li><h3>Você ainda não teve nenhuma avaliação respondida.</h3></li><br>
            {{pass}}
        {{else:}}
            <li><h3>Você ainda não postou nenhuma avaliação.</h3></li>
        {{pass}}
        
        {{evals = evals_favorited}}
        {{if len(evals) > 0:}}
            <li><h3>Avaliações favoritas:</h3></li><br>
            <div id="favorites">
            {{include "eval/list.html"}}
            </div>
        {{else:}}
            <li><h3>Você ainda não favoritou nenhuma avaliação.</h3></li><br>
        {{pass}}
    </ul>
{{else:}}
    <table>
        <tr>
            <h1>{{=aluno.full_name}}</h1>
        </tr>
        <tr>
            {{=aluno.email}}
        </tr>
    </table>       
    {{if evals_stats['len'] > 0:}}
        <div style="padding:15px;">
            <table class="infotable">
                <th colspan=2 class="infoheader">Estatísticas de {{=aluno.short_name}}:</th>
                <tr>
                    <td style="text-align:center">
                        <b>{{=evals_stats['len']}} avaliações postadas (média {{=evals_stats['grade_avg']}})</b>
                    </td>
                    <td style="text-align:center">
                        <b>{{=evals_stats['karma_len']}} qualificações (saldo {{=evals_stats['karma_avg']}})</b>
                </tr>
                <tr>
                    <td>
                        <img src="http://chart.apis.google.com/chart?chs=300x150&cht=bvs&chds=0,{{=evals_stats['max_len_grade']}}&chco=A6EFA5|D2EFA5|EFEFA5|EFC4A5|EFA5A5&chd=t:{{=evals_stats['A']}},{{=evals_stats['B']}},{{=evals_stats['C']}},{{=evals_stats['D']}},{{=evals_stats['FF']}}&chl=A|B|C|D|FF">
                    </td>
                {{if evals_stats['karma_len'] > 0:}}
                    <td>
                        <img src="http://chart.apis.google.com/chart?chs=300x125&cht=p3&chco=219A21|FF0000&chd=t:{{=evals_stats['karma_up']}},{{=evals_stats['karma_down']}}&chl={{=('Positivas' if evals_stats['karma_up'] > 0 else '')}}|{{=('Negativas' if evals_stats['karma_down'] > 0 else '')}}">
                    </td>
                {{pass}}
                </tr>
            </table>
        </div>
        <br/>
        <span><h3>Últimas avaliações de {{=aluno.short_name}}:</h3></span><br>
        {{include "eval/list.html"}}
    {{else:}}
        <span><h3>{{=aluno.short_name}} ainda não postou nenhuma avaliação.</h3></span>
    {{pass}}
{{pass}}
