{{extend 'layout.html'}}
<h2>{{=prof_name}}</h2>
<h3> Avaliações </h3>

{{for eval in evals:}}
  <b>Aluno: </b>{{=eval['aluno_name']}}<br />
	<b>Disciplina: </b>{{=eval['disc_name']}}<br />
	<b>Semestre: </b>{{=eval['semester']}}<br />
	<b>Nota: </b>{{=eval['grade']}}<br />
	<b>Comentário: </b>{{=eval['comment']}}<br />
	{{=A('Editar Avaliação', _href=URL(request.application, 'eval', 'update', vars=dict(eval_id=eval['id'], prof_id=prof_id)))}}<br /><br />
{{pass}}<br /><br />

{{=A('Adicionar Avaliação', _href=URL(request.application, 'eval', 'create', vars=dict(prof_id=prof_id)))}}

