{{extend 'layout.html'}}
<table>
	<tr>
		<td rowspan='2'>
			{{=A(IMG(_width='50px', _src=URL('download', args=prof.picture)), 
			_href=URL('home', vars=dict(id=prof.id)))}}
		</td>
		<td>
			<table>
				<tr>
					<h2>{{=prof.full_name}}</h2>
				</tr>
				<tr>
					{{=prof.email}}
				</tr>
			</table>
		</td>
		<td>
			<div style="font-size:50px">
				<b>{{=prof.grade or ''}}</b>
			</div>
		</td>
	</tr>
</table>
<br/>
<i>{{='nenhuma avaliação' if not len(evals) else ''}}</i>
<br/>

{{include "eval/list.html"}}
