{{extend 'layout.html'}}

<script>
	jQuery(document).ready(function(){jQuery('.profs_list').hide()});
</script>

<table>
    <tr>
        <td>
            <table>
                <tr>
                    <h2>{{=disc.short_name}}</h2>
                </tr>
                <tr>
                    {{=disc.name}}
                </tr>
            </table>
        </td>
    </tr>
</table>

{{if disc.resume != None:}}
    <table>
        <tr>
           <th><h3>Súmula</h3></th>
        </tr>
        <tr>
            <td>{{=disc.resume or '-'}}</td>
        </tr>
    </table>
{{pass}}

{{if len(profs)>0:}}
  <div class="profs_list">
    <br/>
    <table>
        <tr>
            <th>Professor</th>
            <th>Média nesta disciplina</th>
        </tr>
        {{for prof in profs:}}
            <tr>
                <td>{{=A(prof['full_name'], _href=URL(request.application,'prof','home',vars=dict(prof_id=prof['id'])))}}</td>
                <td>
                    {{=prof['grade'] if not prof['grade'] == '\\' else '-'}}
                </td>
            </tr>
        {{pass}}
			</table>
        </div>
        {{print disc_grade}}
		{{if disc_grade != None:}}
			<h4 class="profs_toggle cursored padded10" onclick="jQuery('.profs_list').slideToggle()">
				A média de todos professores em {{=disc.short_name}} é {{=disc_grade or '-'}}
				{{=IMG(_src=URL('static', 'plus.png'))}}
			</h4>
		{{pass}}
{{pass}}

<br/>

<div class="filters">
    <form id='search' name='search' action="">
        <input type="hidden" name="disc_id" value="{{=disc.id}}"/>
        <table>
            <tr>
                <td style="padding:0px; vertical-align:middle;"><b>Professor:</b></td>
                <td>{{=fields['prof']}}</td>
                <td style="padding:0px; vertical-align:middle;"><b>Ano:</b></td>
                <td>{{=fields['year']}}</td>
                <td style="padding:0px; vertical-align:middle;"><b>Nota:</b></td>
                <td>{{=fields['grade']}}</td>
                <td>
                    <input type="submit" name="submit" value="Buscar!" style="float:right"/>
                </td>
            </tr>
        </table>
    </form>
</div>

{{if not len(evals):}}
    <br/><br/>
    <i>nenhuma avaliação</i>
    <br/><br/>
{{pass}}

{{include "eval/list.html"}}

{{if not auth.has_membership('Professor'):}}
    {{=A('Adicionar avaliação', _href=URL(request.application, 'eval', 'create', vars=dict(disc_id=disc.id)))}}
{{pass}}
