{{extend 'layout.html'}}
<h1>Disciplinas</h1>
<table>
    <tr>
        <th>Nome</th>
        <th>Código</th>
        <th>Avaliações</th>
        <th>Média</th>
    </tr>
    {{for i, disc in enumerate(discs):}}
        <tr class="{{=['even', 'odd'][i % 2]}}">
            <td>{{=A(disc.name, _href=URL('home', vars=dict(disc_id=disc.id)))}}</td>
            <td>{{=disc.code}}</td>
            <td>{{=len(get_refined_evals(disc_id=disc.id))}}</td>
            <td><b>{{=grade_average(get_evals(disc_id=disc.id)) or '-'}}</b></td>
        </tr>
    {{pass}}
</table>

